<div class="container-fluid">
  <div class="row">
    <!-- Stats -->
    <div class="col-md-4">
      <div class="weather-stats card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Temperature: {{ this.temp }}</p>
          <p class="card-text">Wind Speed: {{ this.windSpeed }}</p>
          <p class="card-text">Humidity: {{ this.humidity }}</p>
        </div>
      </div>
    </div>
    <!-- Forecast -->
    <div class="col-md">
      <div class="forcast card text-white bg-dark">
        <div class="card-header">
          Forecast
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
