<!--The content below is only a placeholder and can be replaced.-->
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<mat-toolbar color="primary" role="heading">
    <span>Dark Weather</span>
    <span class="fill-space"></span>
    <span class="search">
        <form class="search-form">
            <mat-form-field class="search-input">
                <input matInput placeholder="Search city">
            </mat-form-field>
        </form>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>
