.search {
    position: relative;
    top: 8px;
    left: 400px;
}
#getWeather {
    position: relative;
    left: 200px;
}
.nav-tab {
    position: relative;
    top: 6px;
}
.weather-stats {
    margin-top: 40px;
    position: relative;
    left: 45px;

}
.forcast {
    margin-top: 40px;
    position: relative;
    right: 45px;
}
.forcast .card-body {
    padding-bottom: 42px;
}