<head>
  <script src="/socket.io/socket.io.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dark Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-tab nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-tab nav-link" href="#">Features</a>
      </li>
      <form>
        <li class="search">
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="search" aria-describedby="search" placeholder="Search City">
          </div>
        </li>
      </form>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Stats -->
    <div class="col-md-4">
      <div class="weather-stats card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Temperature: {{ weather.temperature }}</p>
          <p class="card-text">Pressure: {{ weather.pressure }}</p>
          <p class="card-text">Wind Speed: {{ weather.windSpeed }}</p>
        </div>
      </div>
    </div>
    <!-- Forcast -->
    <div class="col-md">
      <div class="forcast card text-white bg-dark">
        <div class="card-header">
          Forecast
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ forecast.name }}</h5>
          <p class="card-text">{{ forecast.tempMax }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
